<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>TODO</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/style.css">
<!--    <link rel="stylesheet" href="/css/quickform.css"> -->

  </head>
  <body>
    <header>
      <!-- Fixed navbar Region -->
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">TODO</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto" id="buckets">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" title="Add Bucket" href="#" data-toggle="modal" data-target="#addBucket"><i class="fas fa-folder-plus fa-lg"></i></a>
            </li>
          </ul>
          STR_ACTIONS
          </form>
        </div>
      </nav>
    </header>

    <!-- Page Content Region -->
    <main role="main" class="container">
      <div id="messages">
        STR_MSG
      </div>

      <h1 class="mt-5">STR_TITLE</h1>
      <div class="float-right">
        <a class="nav-link" href="#" title="Add Category" href="#" data-toggle="modal" data-target="#addCategory"><i class="far fa-plus-square fa-2x"></i></a>
      </div>
      <div class="px-4">
        STR_BODY
      </div>
    </main>

    <!-- Footer Region -->
    <footer class="footer">
      <div class="container">
        <span class="text-muted">&copy; 2018 Casey Dinsmore</span>
      </div>
    </footer>
    <div id="#modalforms">



      <div class="modal fade" id="addBucket" tabindex="-1" role="dialog" aria-labelledby="addBucket" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="addBucketLabel">Add Bucket</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Cancel">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body px-4" id="addBucketBody">
              <p class="font-weight-light">Use Buckets to sort tasks based upon due date.</p>
              <div id="addBucketFormContainer">
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" id="submitAddBucket">Add Bucket</button>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="addCategory" tabindex="-1" role="dialog" aria-labelledby="addCategory" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="addCategoryLabel">Add Category</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Cancel">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body px-4" id="addCategoryBody">
                <p class="font-weight-light">Use categories to sort tasks within a bucket.</p>
                <div id="addCategoryFormContainer">
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" id="submitAddCategory">Add Category</button>
            </div>
          </div>
        </div>
      </div>

    </div>
    <!-- Bootstrap JavaScript -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="/js/main.js"></script>
    <script src="/js/forms.js"></script>
  </body>
</html>
