<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>TODO</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/style.css">

  </head>
  <body>
    <header>
      <!-- Fixed navbar Region -->
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">TODO</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto" id="buckets">
          </ul>
          <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
             <ul class="navbar-nav ml-auto">
                 <li class="nav-item">
                   <a class="nav-link" href="#profile"  data-toggle="modal" data-target="#updateProfile">Profile</a>
                </li>
                 <li class="nav-item">
                     <a class="nav-link" href="/logout">Logout</a>
                 </li>
             </ul>
          </div>
          </form>
        </div>
      </nav>
    </header>

    <!-- Page Content Region -->
    <main role="main" class="container">
      <div id="messages">
        STR_MSG
      </div>
      <div class='row' id='pageTitle'>
        <div class='col-10'>
          <h1 id="bucketTitle">STR_TITLE</h1>
        </div>
        <div class='col-2'>
          <div id="bucketActions" class="float-right">
          </div>
        </div>
      </div>
      <div class="px-1">
        STR_BODY
        <div id="categories">
        </div>
      </div>
    </main>

    <!-- Footer Region -->
    <footer class="footer">
      <div class="container">
        <span class="text-muted">&copy; 2018 Casey Dinsmore</span>
      </div>
    </footer>
    <div id="#modalforms">

      <div class="modal fade" id="addBucket" tabindex="-1" role="dialog" aria-labelledby="addBucket" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="addBucketLabel">Add Bucket</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Cancel">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body px-4" id="addBucketBody">
              <p class="font-weight-light">Use Buckets to sort tasks based upon due date.</p>
              <div id="addBucketFormContainer">
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" id="submitAddBucket">Add Bucket</button>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="addCategory" tabindex="-1" role="dialog" aria-labelledby="addCategory" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="addCategoryLabel">Add Category</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Cancel">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body px-4" id="addCategoryBody">
                <p class="font-weight-light">Use categories to sort tasks within a bucket.</p>
                <div id="addCategoryFormContainer">
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" id="submitAddCategory">Add Category</button>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="addTask" tabindex="-1" role="dialog" aria-labelledby="addTask" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="addTaskLabel">Add Task</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Cancel">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body px-4" id="addTaskBody">
                <p class="font-weight-light"></p>
                <div id="addTaskFormContainer">
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" id="submitAddTask">Add Task</button>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="updateProfile" tabindex="-1" role="dialog" aria-labelledby="updateProfile" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="updateProfileLabel">Update Profile</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Cancel">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body px-4" id="addTaskBody">
                <p class="font-weight-light"></p>
                <div id="updateProfileFormContainer">
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger rm" data-type="user" data-dismiss="modal">Delete Account</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" id="submitUpdateProfile">Update Profile</button>
            </div>
          </div>
        </div>
      </div>

      <div class="d-none">
        <div id="delete-bucket">Are you sure? This will delete this bucket as well as all categories and tasks.</div>
        <div id="delete-category">Are you sure" This will delete this category and all tasks within.</div>
        <div id="delete-task">Are you sure? This task will be deleted.</div>
        <div id="delete-user">Are you sure? This will delete your account from the system.</div>
      </div>

    </div>
    <!-- Bootstrap JavaScript -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js" integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E=" crossorigin="anonymous"></script>

    <script src="/js/main.js"></script>
    <script src="/js/forms.js"></script>
  </body>
</html>
